<div class="search-container">
  <div class="label">
    <span>Patient ID:</span>
    <!-- <input
      class="patient-search"
      type="number"
      #patientIDField
      autofocus
      formControlName="patientID"
    /> -->
    <form [formGroup]="patientForm" (ngSubmit)="submitForm()">
      <div>
        <input
          #patientIDField
          class="patient-search"
          type="number"
          autofocus
          formControlName="patientID"
        />
      </div>
    </form>
  </div>
  <div class="error" *ngIf="patientError">
    {{ patientError }}
  </div>
  <div>
    <button class="button" (click)="submitForm()">
      <span>Search</span>
    </button>
  </div>
</div>
