<div>
  <div *ngIf="patient">
    {{ patient.name.prefix }}
    {{ patient.name.given }}
    {{ patient.name.family }}
  </div>
  <div class="chart-container">
    <div class="chart">
      <fusioncharts
        [type]="type"
        [width]="width"
        [height]="height"
        [dataSource]="dataSource"
      ></fusioncharts>
    </div>
    <div class="chart-2">
      <fusioncharts
        [type]="type2"
        [width]="width2"
        [height]="height2"
        [dataSource]="dataSource2"
      ></fusioncharts>
    </div>
  </div>
  <div>
    <button class="glucose-entry" (click)="navigateToGlucose()">
      Enter a Blood Glucose Reading
    </button>
    <button class="a1c-entry" (click)="navigateToA1C()">
      Enter an A1C Reading
    </button>
  </div>
</div>
