<div>
  <div>
    <div>
      <div>
        <label>Reading in:</label>
        <label
          >mg
          <input mat-radio type="radio" id="mg" [value]="mg" />
        </label>
        <label
          >dL
          <input mat-radio type="radio" id="dL" [value]="dL" />
        </label>
      </div>
      <div>
        <input type="text" #readingField />
      </div>
    </div>
  </div>
  <div>
    <input type="text" #dateField />
  </div>
  <div>
    <input type="text" #timeField />
  </div>
  <div>
    <input type="text" #noteField />
  </div>
</div>
