.form-container {
    padding: 20px;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 400px;
}

.form-group input,
.form-group label,
.form-group select {
    width: 200px;
}

.form-group button {
    width: 120px;
    padding: 5px 0;
    margin-left: 20px
}

.form-group button:hover {
    background-color: #073d65;
    color: white;
}